@import url(./default.css);

.contentFour {
    min-height: 600px;
    background-color: var(--cinzaCT2);
    display: flex;
    flex-direction: row;
}

.informacoes {
    height: 450px;
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.infoSection {
    font-family: var(--ms);
    margin-top: 4rem;
}

.iconSocial {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 30%;
    justify-content: space-around;
    margin-top: 4rem;
}

.icon {
    width: 56px;
    height: 56px;
}