@import url(./default.css);

.contentThree {
    min-height: 600px;
    background-color: var(--cinzaET2);
}

.projetos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cardProjeto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
    min-height: 380px;
    border: 1px solid green;
}